<div class="container">
  <h1>Menu</h1>

  <div class="section">
    <h2>Drinks</h2>
    <ul>
      <% @drinks.each do |item| %>
        <li><%= render item %></li>
      <% end %>
    </ul>
  </div>
  <div class="section">
    <h2>Food</h2>
    <ul>
      <% @food.each do |item| %>
        <li><%= render item %></li>
      <% end %>
    </ul>
  </div>
</div>
